<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754106153209-ovdgog4q5nq9dma8gghcq1c7a4j25uu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754106153209-ovdgog4q5nq9dma8gghcq1c7a4j25uu0</string>
	<key>API_KEY</key>
	<string>AIzaSyC7_2CZUOVhauKhaxRt2FDSq0wy0orDxtk</string>
	<key>GCM_SENDER_ID</key>
	<string>754106153209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunst.kinopub</string>
	<key>PROJECT_ID</key>
	<string>kinopub-apple-client</string>
	<key>STORAGE_BUCKET</key>
	<string>kinopub-apple-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754106153209:ios:840acdc135b127eafb4a28</string>
</dict>
</plist>